.todo {
  width: 300px;
}

.time,
.task {
  text-align: center;
  padding: 5px 10px;
  width: 100px;
}

.past {
  color: red;
}

.remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
}

.edit {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  font: inherit;
  height: 100%;
  width: 100%;
}

.timeEdit {
  text-align: right;
  padding-right: 10px;
}

.added {
  animation: floatUp 0.4s ease;
  position: relative;
}

/* Для анимации мы рендерим Todo строку ниже ее конечной позиции на n * 100%,
где n - расстояние до последнего элемента в списке, а 100% - собственная высота
строки. Затем поднимаем до финальной позиции. */
@keyframes floatUp {
  from {
    transform: translateY(calc(100% * (var(--length) - var(--position))));
    color: black;
  }

  to {
    transform: translateY(0);
    color: inherit;
  }
}
