.Weekday {
  padding: 5px;
  width: 50px;
  cursor: pointer;
  text-align: center;
  border: 2px solid transparent;
}

.Weekday:not(:last-child) {
  margin-bottom: 10px;
}

.active {
  border: 2px solid #000;
  background-color: bisque;
}
